//<--顏色變數-->

//--------主要色--------
$primary_dark: #A68169;//主要色-dark
$primary_100 : #CFA183; //主要色-100%
$primary_70 : #DDBDA8; //主要色-70%
$primary_50 : #E7D0C1; //主要色-50%
$primary_30 : #F1E3DA; //主要色-30%
//----------------------

//--------輔助色--------
$secondary_dark : #070E21;//輔助色-dark
$secondary_100 : #0A142F;//輔助色-100%
$secondary_70 : #545B6E;//輔助色-70%
$secondary_50 : #848996;//輔助色-50%
$secondary_30 : #B6B9C1;//輔助色-30%
//----------------------

//--------字體色--------
$fontcolor_dark : #4A4E53;//字體色-dark
$fontcolor_100 : #5C6268;//字體色-100%
$fontcolor_70 : #8D9195;//字體色-70%
$fontcolor_50 : #ADB0B3;//字體色-50%
$fontcolor_30 : #CED0D2;//字體色-30%
$fontcolor_20 : #DEE0E1;//字體色-20%
$fontcolor_10 : #EFEFF0;//字體色-10%
//----------------------

//--------特殊色--------
$white : #FFFFFF;//全局白
$errorcolor : #F56C6C;//錯誤
$success : #67C23A;//成功
$warning : #E6A23C;//警告
$shadow : rgba(0,0,0,0.3);// 陰影色
//----------------------

//<--字體-->
//------字體種類------
$fontdeco : 'Playfair Display', serif;  //特殊字體
$fontcontent :  'Inter', sans-serif;    //內文字體
//------字體大小------
// ---特殊字---
$s1 : 140px;//最大
//------------
//----字體計算基準---- 
$font_size : 16px;
//-------------------

//--斷點變數--
$w : 1140px;
$t: 820px;
$m : 428px;
//--------------
