@mixin w(){//網頁版斷點
  @media all and (max-width : $w) {
      @content 
    }
};

@mixin t(){//平板斷點
  @media all and (max-width : $t) {
      @content 
    }
};

@mixin m(){//手機斷點
  @media all and (max-width : $m) {
      @content 
    }
};

@mixin w {
  max-width: 1140px;
  margin: 0 auto;

  @include t {
    max-width: 820px;
    margin: 0 auto;
  }

  @include m {
    max-width: 428px;
    margin: 0 auto;
  }
};